<%= form_with(model: project, local: true, id: "ProjectForm", style:"margin-top: 5rem; margin-bottom: -3rem;") do |form| %>
	<% if project.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

			<ul>
				<% project.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="form-group">
		<%= form.label :title %>
		<%= form.text_field :title %>
	</div>

	<div class="form-group">
		<%= form.label :description %>
		<%= form.text_area :description %>
	</div>

	<div class="actions">
		<%= form.submit %>
	</div>

<% end %>
